[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {git = "ssh://git@github.com/AfricasVoices/CoreDataModules.git", editable = true, ref = "1ca1af683b697bfbe14f79f67414bdb9b9d71eca"}
jsonpickle = "*"

[dev-packages]

[requires]
python_version = "2.7"
