[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {git = "ssh://git@github.com/AfricasVoices/CoreDataModules.git", editable = true, ref = "94ca8d17245f27fdb006491d79883b46b9cbb82d"}
jsonpickle = "*"

[dev-packages]

[requires]
python_version = "2.7"
