[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {git = "ssh://git@github.com/AfricasVoices/CoreDataModules.git", editable = true, ref = "fec44c01cb7a6465b0e56aa6ad490ef0521f0e8e"}
jsonpickle = "*"

[dev-packages]

[requires]
python_version = "2.7"
